<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/homepageStyle.css">
    <link rel="stylesheet" href="/css/profileStyle.css">
    <title>HomePage</title>
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <div class="website-name">
                <a href="/"><p>socialNetwork</p></a>
            </div>
            <div class="links-container">
                <div class="link">
                    <a href="/profile">Profile</a>
                </div>
                <div class="link">
                    <a href="/allusers">All Users</a>
                </div>
                <div class="link">
                    <a href="#">Posts</a>
                </div>
                <div class="link">
                    <a href="/logout">Logout</a>
                </div>
            </div>
        </div>
        <hr>