<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/homepageStyle.css">
    <title>HomePage</title>
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <div class="website-name">
                <a href="/"><p>socialNetwork</p></a>
            </div>
            <div class="links-container">
                <div class="link">
                    <a href="/register">Register</a>
                </div>
                <div class="link">
                    <a href="/login">Login</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>