<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/loginStyle.css">
    <title>Login</title>
</head>
<body>
    <div class="wrapper">
        <div class="login-container">
            <div class="login-title">
                <p>Login for socialNetwork</p>
            </div>
            <div class="field-entry-container">
                <form action="/login" method="POST">
                    <p class="input-title">Email </p><input type="text" name="email" placeholder="Enter your email ID"><br><br>
                    <p class="input-title">Password </p><input type="password" name="password" placeholder="Enter your password"><br><br>
                    <button>Login</button>
                </form>
                <p>New here? <a href="/register">register</a></p>
                <p>Back to <a href="/">homepage</a></p>
            </div>
        </div>
    </div>
</body>
</html>